<!-- Email Verification 
 
this is to improve the flow od the site 
when a new user creates an account, they should be immediately be able to verify their account 

Backend will returns a verificationToken, when the users had successfully registered.

SignupComponent immediately naviagates to the verification sales 

The moment VerifyEmailComponent will extracts the payload from the histroy.state

The user clicks on the verify button and if it is succeed, it will direct to the user to /login. 
If it fails, it saves the error string in error Message and display that 

-->

<div class="verify-email-page">
    <div class="verify-card">
        <img class="logo" alt="This is image of Momently Logo"/>

        <h1> Verify your Email</h1>

        <p class="nameTitle">
            Welcome <strong>{{ firstName }}</strong>
        </p>

        <p class="description">
            Your account has been successfully registered. Please verify your email address to activate your account! 
        </p>

        <div class="token-container">
            <label class="token-labl">
                Verification Token
            </label>

            <div class="token-area">
                <input class="token-input" type="text" [value]="token"/>
                
                <button type="button" class="copy-button">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>

            <small class="token-help-message">
                Click the clipboard icon to copy your verification token
            </small>
        </div>

        <div class="success" *ngIf="successMessage">
            <mat-icon>check_circle</mat-icon>
            <span>{{ successMessage }}</span>
        </div>

    
    </div>
</div>