<!--
Author: Cleopatra Kwenda
Date: 2026-07-30
Purpose: will display our desired wireframe of 
the Landing page.
Related Requirements: N/A
-->

<div class="landing-container">

    <!-- HEADER AREA -->
    <header class="navbar">
        <!-- LOGO AREA -->
        <a 
            class="brand brand--hero" 
            routerLink="/"
            aria-label="Momently home">

            <img 
                class="brand-logo"
                [src]="brandLogo"
                alt="Momently logo"/>

            <span class="brand-copy">
                <span class="brand-name">
                    <span class="brand-name__accent">
                        m
                    </span>
                    omently
                </span>

                <span class="brand-tagline">
                    Every moment counts
                </span>
            </span>
        </a>

        <!-- AUTH BUTTON( LOG-IN / SIGN-UP) -->
        <div class="auth-buttons">
            <a routerLink="/login" class="btn-login">
                Login
            </a>
            <a routerLink="/signup" class="btn-signup">
                Signup
            </a>
        </div>
    </header>

    
</div>