# PostgreSQL 

DB_NAME= insert_name
DB_USERNAME=insert_name
DB_PASSWORD=insert_password

# Backend 
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev

JWT_SECRET=dev-only-secret-replace-in-production-min-32-chars-abc123
JWT_EXPIRATION_MS=insert_num 

# Google OAuth 
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=you-google-client-secret
GOOGLE_REDIRECT_URI=https://momentlyapp.org/login/oauth2/code/google

#  Redis 
REDIS_HOST=redis
REDIS_PORT=6379

# MFA
MFA_ISSUER=Timesheets AI
MFA_MAX_ATTEMPTS=5
MFA_LOCK_DURATION=30
MFA_CODE_LENGTH=6


# EMAIL
EMAIL_FROM=noreply@timesheetai.com
EMAIL_VERIFICATION_EXPIRATION=24

# AI Service 
BACKEND_URL=http://backend:8080
ENVIRONMENT=production
GEMINI_API_KEY=SECRET_KEY



# AWS
AWS_S3_BUCKET=momently-prod-storage
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY

GOOGLE_SSO_CLIENT_ID=<nyasha-SSO-client-id>