
# PostgreSQL 

DB_NAME= insert_name
DB_USERNAME=insert_name
DB_PASSWORD=insert_password

# Backend 
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev

JWT_SECRET=dev-only-secret-replace-in-production-min-32-chars-abc123
JWT_EXPIRATION_MS=insert_num 

# Google OAuth 
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=you-google-client-secret
GOOGLE_REDIRECT-URI=http://localhost:8080/login/oauth2/code/google

#  Redis 
REDIS_HOST=redis
REDIS_PORT=6379

# MFA
MFA_ISSUER=Timesheets AI
MFA_MAX_ATTEMPTS=5
MFA_LOCK_DURATION=30
MFA_CODE_LENGTH=6


# EMAIL
EMAIL_FROM=noreply@timesheetai.com
EMAIL_VERIFICATION_EXPIRATION=24

# AI Service 
BACKEND_URL=http://localhost:8080
ENVIRONMENT=development

#we should not be using localhost if we need things to work on Docker
#  Database 
# DB_URL=jdbc:postgresql://localhost:5432/momently_dev
# DB_USERNAME=momently
# DB_PASSWORD=momently_dev_password

#  DBeaver connection details 
# Host:     localhost
# Port:     5432
# Database: momently_dev
# Username: momently
# Password: momently_dev_password

#  Frontend 
# API_URL=http://localhost:8080