<!--
Author: Cleopatra Kwenda
Date: 2026-07-30
Purpose: will display our desired wireframe of 
the Calendar page.
Related Requirements: N/A
-->

<div class="calendar-page">
    <!-- HEADER AREA -->
    <header class="calendar-header">
        <div>
            <h1>
                Calendar
            </h1>

            <p>
                View your schedule and plan your work.
            </p>
        </div>

        <!-- SYNCING AREA -->
        <button 
            class="sync-button"
            (click)="syncCalendar"
            [disabled]="isSyncing()">
            <i 
                class="fa-solid fa-rotate"
                [class.fa-spin]="isSyncing()">
            </i>
            {{ isSyncing()? 'Syncing...': 'Sync now' }}
        </button>
    </header>

    <!-- CALENDAER NAVIGATION TOOLS  -->
    <section class="calendar-card">
        <div class="calendar-toolbar">
            <div class="date-navigation">
                <button
                    class="today-button"
                    (click)="navigate('today')">
                    Today
                </button>

                <button
                    class="icon-button"
                    (click)="navigate('prev')">
                    <i class="fa-solid fa-chevron-left">

                    </i>
                </button>
                <button
                    class="icon-button"
                    (click)="navigate('next')">
                    <i class="fa-solid fa-chevron-right">
                        
                    </i>
                </button>
            </div>

            <!-- TAB SWITCH AREA -->
            <div class="view-switcher">
                <button
                    [class.active]="activeView()=== 'dayGridMonth"
                    (click)="changeView('dayGridMonth')">
                    Month
                </button>

                <button
                    [class.active]="activeView()=== 'timeGridWeek"
                    (click)="changeView('timeGridWeek')">
                    Week
                </button>

                <button
                    [class.active]="activeView()=== 'timeGridDay"
                    (click)="changeView('timeGridDay')">
                    Day
                </button>
            </div>
        </div>

        <!-- CALENDAR AREA -->
        <div class="calendar-container">
            <full-calendar
                #calendar
                [options]="calendarOptions">
            </full-calendar>
        </div>

        <!-- THE READ ONLY CARD AREA -->
        <div class="read-only-banner">
            <i class="fa-solid fa-lock"></i>

            <div>
                <strong>
                    This is a read-only calendar
                </strong>
                <p>
                    Events are imported from
                    {{ provider( === 'outlook'? 'Outlook': 'Google Calendar')}}.
                    To make changes, use your calendar provider.
                </p>
            </div>
        </div>
    </section>

    <!-- POP UP OF THE CLICKED EVENT  -->
    @if(selectedEvent(); as event){
        <div class="event-details">
            <button 
                class="close-button"
                (click)="closeEventDetails()">
                <i class="fa-solid fa-xmark"></i>
            </button>

            <h2>
                {{ event.title}}
            </h2>

            <div class="event-time">
                <i class="fa-regular fa-clock"></i>
                <span>
                    {{ event.start | date:'EEE, d MMM yyyy'}}
                    <br>
                    {{ event.start | date:'HH:mm'}}- {{ event.end | date:'HH:mm'}}
                </span>
            </div>

            
        </div>
    }
</div>