<!--
Author: Cleopatra Kwenda
Date: 2026-07-30
Purpose: will display our desired wireframe of 
the Calendar page.
Related Requirements: N/A
-->

<main class="main-content">

    <!-- header area -->
    <header class="page-header">
        <div class="header-title">
            <h1>
                Calendar
            </h1>
            <p>
                Read-only view of your Outlook calendar. We'll
                help you make sense of your day.
            </p>
        </div>

        <!-- calendar comoan statuts badge -->
        <div class="outlook-badge">
            <i class="fa-brands fa-microdoft outlook-iccon"></i>
            <div class="status">
                <strong> Outlook connected</strong>
                <small> Last synced {{ lastSyncedTime() }} ago</small>
            </div>

            <button class="btn-sync">
                <i class="fa-solid fa-rotate"></i>Sync now
            </button>
        </div>

        <!-- date switch controlls -->
        <div class="calendar-controls">
            <button 
                class="btn-secondary"
                (click)="goToToday()">
                Today
            </button>

            <div class="btn-group">
                <button 
                    class="btn-icon"
                    (click)="navigateDate(-1)">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button 
                    class="btn-icon"
                    (click)="navigateDate(1)">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>

            <div class="date-picker-trigger">
                <span> {{ currentDate() | date: 'MMMM yyyy'}}</span>
                <i class="fa-regular fa-calendar"></i>
            </div>
        </div>
    </header>

    <!-- main calender place -->
    <div class="workspace">

        <!-- calender view area -->
        <div class="calendar-view-container">

            <!-- tab toggles -->
            <div class="tabs-bar">
                <div class="tab-group">
                    <button 
                        [class.active]="activeView() === 'day'"
                        (click)="setView('day')">
                        Day
                    </button>
                    <button 
                        [class.active]="activeView() === 'week'"
                        (click)="setView('week')">
                        Week
                    </button>
                    <button 
                        [class.active]="activeView() === 'month'"
                        (click)="setView('month')">
                        Month
                    </button>
                </div>
                <span class="current-date-label"> {{ currentDate() | date: 'EEEE,d MMMM yyyy'}}</span>
            </div>

            <!-- tab switchers -->
            @switch (activeView()){
                <!-- month view -->
                @case('month'){
                    <div class="month-grid-view">
                        <div class="grid-header">
                            @for(gay of weekdays; track day){
                                <div> {{ day }}</div>
                            }
                        </div>

                        <div class="month-cells">
                            @for (cell of monthGrid(); track cell.date.toISOString()){
                                <div
                                    class="cell"
                                    [class.muted]="!cell.isCurrentMonth"
                                    [class.active-day]="cell.isToday"
                                    (click)="selectDate(cell.date)">
                                    {{ cell.dayNumber }} 
                                    
                                    @if (cell.events.length >0){
                                        <span
                                            class="badge"
                                            [ngClass]="cell.events[0].category">
                                            <i class="fa-solid fa-circle"></i>

                                            {{ cell.events.length }} {{ cell.events.length ===1 ? 'event':'events'}}
                                        </span>
                                    }
                                </div>
                            }
                        </div>

                        <!-- footer area -->
                        <div class="legend-bar">
                            <span>
                                <i class="fa-solid fa-circle blue"></i>Meetings
                            </span>
                            <span>
                                <i class="fa-solid fa-circle green"></i>Focus time
                            </span>
                            <span>
                                <i class="fa-solid fa-circle purple"></i>Personal
                            </span>
                            <span>
                                <i class="fa-solid fa-circle orange"></i>Other
                            </span>
                        </div>
                    </div>
                }

                <!-- DAY VIEW AREA -->
                @case ('day'){
                    <div class="day-time-grid">
                        <div class="timeline">
                            @for(hour of hours; track hour){
                                <div class="time-row">
                                    <span class="time-label">{{ hour <10 ? '0' + hour: hour }}:00 </span>

                                        <div class="slot-line"></div>
                                </div>
                            }

                            <!-- event cards area -->
                            @for (event of selectedDayEvents(); track event.id){
                                <div 
                                    class="event-block"
                                    [ngClass]="event.category"
                                    [style.top.px]="event.topOffset"
                                    [style.height.px]="event.height"
                                    (click)="selectEvent(event)">
                                    <div class="event-header">
                                        <strong>{{ event.title }}</strong>
                                        <i class="fa-regular fa-calendar-check"></i>
                                    </div>

                                    <p>
                                        {{ event.startTime | date: 'HH:mm' }}- {{ event.endTime | date: 'HH:mm' }}
                                    </p>
                                </div>
                            }

                            @if (isToday(selectedDate)){
                                <div 
                                    class="current-time-line"
                                    [style.top.px]="currentTimeTopOffset()">
                                    <span class="time-badge">{{ currentTime() | date: 'HH:mm'}}</span>
                                </div>
                            }
                        </div>
                    </div>
                }

                <!-- WEK VIEW AREA -->
                @case ('week'){
                    <div class="week-time-grid">
                        <div class="week-header-row">
                            <div class="time-col-header">GMT+2</div>

                            @for(day of the weekDays(); track day.toISOString()){
                                <div 
                                    class="day-col-header"
                                    [class.active]="isSameDay(day, selectedDate())"
                                    (click)="selectDate(day)">
                                    @if (isSameDay(day, selectedDate())){
                                        <span class="active-pill">
                                            {{ day | date:'d' }}
                                        </span>
                                    }
                                    {{ day | date:'EEE d MMM' | uppercase }}
                                </div>
                            }
                        </div>

                        <div class="week-body">
                            <div class="time-labels">
                                @for (day of weekDays(); track day.toISOString()){
                                    <div
                                        class="week-column"
                                        [class.active-col]="isSameDay(day, selectedDate())">
                                        @for (event of getEventsForDate(day); track event.id){
                                            <div
                                                class="week-event"
                                                [ngClass]="event.category"
                                                [style.top.px]="event.topOffset"
                                                (click)="selectEvent(event)">
                                                {{ event.title }}
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                
            }
        </div>
    </div>
</main>