<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
  Momently Checkstyle configuration.
  Intentionally permissive for Demo 1, please tighten gradually.
-->
<module name="Checker">
    <property name="severity" value="warning"/>

    <module name="TreeWalker">
        <!-- Imports -->
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        <module name="AvoidStarImport"/> <!-- prevent import java.util.* - to avoids hidden dependencies-->

        <!-- Whitespace -->
        <module name="NoTrailingWhitespace"/>
        <module name="GenericWhitespace"/>
        <module name="EmptyLineSeparator"/>

        <!-- Misc: Code style  -->
        <module name="UpperEll"/>
        <module name="NeedBraces"/>
    </module>
</module>