/* You can add global styles to this file, and also import other style files */

/* ============================================================ 
MOMENTLY DESIGN SYSTEM
============================================================ */ 

@use
'./app/shared/styles/index' as *;

/*The "as *" means all forwarded tokens are available globally without needing to prefix them*/

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}