<!--
Author: Cleopatra Kwenda
Date: 2026-07-17
Purpose: will display our desired wireframe of 
all the project details page.
Related Requirements: N/A
-->

<div class="project-details-container">
    <!--
    BACK BUTTON
    -->

    <button
        class="back-link-btn"
        type="button"
        routerLink="/projects">
    
        <i class="fa-solid fa-arrow-left"></i>
        Back to Projects

    </button>

    <!--
    PAGE HEADER
    -->
    <header class="project-header">
        <div class="project-header-left">
            <div class="project-avatar">
                {{ getProjectInitials(project.name) }}
            </div>

            <div class="project-heading">
                <h1 class="project-title">
                    {{ project().name }}
                </h1>

                <p class="project-description">
                    {{ project().description }}
                </p>
            </div>
        </div>

        <div class="project-header-right">
            <span
                class="project-status-badge"
                [ngClass]="{
                    'status-active': project().status === ProjectStatus.ACTIVE,
                    'status-completed': project().status === ProjectStatus.COMPLETED,
                    'status-hold': project().status === ProjectStatus.ON_HOLD,
                }">
                {{ project().status }}

            </span>

            <span
                class="role-chip"
                [ngClass]="{
                    'developer-chip': project().myRole === ProjectRole.DEVELOPER,
                    'manager-chip': project().myRole === ProjectRole.MANAGER,
                    'admin-chip': project().myRole === ProjectRole.ADMIN,
                }">

                {{ project().myRole }}

            </span>

        </div>
    </header>

    <section class="project-meta-grid">
        <div class="meta-card">
            <i class="fa-regular fa-clock"></i>
            <span class="meta-title">
                Budget Hours
            </span>

            <strong>
                {{ project().budgetHours }}h
            </strong>

        </div>

        <div class="meta-card">
            <i class="fa-solid fa-coins"></i>
            <span class="meta-title">
                Hourly Rate
            </span>

            <strong>
                {{ project().hourlyRate | currency }}
            </strong>

        </div>

        <div class="meta-card">
            <i class="fa-solid fa-wallet"></i>

            <span class="meta-title">
                Budget Cost
            </span>

            <strong>
                {{ project().budgetCost | currency }}
            </strong>
        </div>

        <div class="meta-card">
            <i class="fa-regular fa-calendar"></i>

            <span class="meta-title">
                End Date
            </span>

            <strong>
                {{ project().endDate | date }}
            </strong>

        </div>
        

        <div class="meta-card">
            <i class="fa-solid fa-users"></i>

            <span class="meta-title">
                Team Members
            </span>

            <strong>
                {{ project().members.length || 0 }}
            </strong>

        </div>
        
    </section>

    <!--
    NAVIGATION TABS
    -->
    <nav class="project-tabs">
        <button
            class="tab-button"
            [class.active]="activeTab() === 'overview'"
            (click)="setActiveTab('overview')">

            Overview

        </button>

        <button
            class="tab-button"
            [class.active]="activeTab() === 'tasks'"
            (click)="setActiveTab('tasks')">

            Tasks

        </button>
    </nav>

    <!--
    OVERVIEW
    -->
    <section 
        class="overview-grid"
        *ngIf="activeTab()==='overview'">

        <!--
        Hours
        -->
        <article class="overview-card hours-card">

            <div class="card-header">
                    <h3 class="overview-card-title">
                        Hours Logged vs Budget
                    </h3>
            
                <div class="chart-legend">
                    <div class="legend-item">
                        <span class="legend-dot legend-logged"></span>

                        <span class="legend-text">
                            Logged
                        </span>
                    </div>

                    <div class="legend-item">
                        <span class="legend-dot legend-estimated"></span>
                        
                        <span class="legend-text">
                            Budget
                        </span>
                    </div>
                </div>
            </div>

            <div class="hours-summary">
                <h2>
                    {{ project().hoursLogged }}h
                    <span>of {{ project().budgetHours}}h</span>
                </h2>

                <p class="remaining-hours">
                    {{ remainingHours() | number:'1.1-1' }} hours remaining
                </p>

            </div>

            <div class="chart-container">
                <canvas 
                    baseChart
                    [data]="hoursChartData"
                    [options]="hoursChartOptions"
                    [type]="'bar'">
                </canvas>
                <!-- <canvas #hoursChart></canvas> -->
            </div>
            
            
        </article>

        <!--
        Progress
        -->
        <article class="overview-card progress-card">
            <h3 class="overview-card-title">
                Project Progress
            </h3>

            <p class="overview-card-subtitle">
                Based on logged hours
            </p>

            <div 
                class="progress-circle"
                [style.--progress]="completionPercentage()">

                <div class="progress-inner">
                    <span class="progress-percentage">
                        {{ completionPercentage() }}%
                    </span>

                    <span class="progress-label">
                        Complete
                    </span>

                </div>
            </div>

            <div class="progress-summary">
                <div class="summary-box">

                    <span class="summary-title">
                        Logged
                    </span>

                    <span class="summary-value">
                        {{ project().hoursLogged }}h
                    </span>
                </div>

                <div class="summary-box">
                    <span class="summary-title">
                        Remaining
                    </span>

                    <span class="summary-value">
                        {{ remainingHours() | number:'1.1-1' }}h
                    </span>
                </div>
            </div>
            
        </article>

        <!--
        Team
        -->
        <article class="overview-card">
            <h3 class="overview-card-title">
                Team Members
            </h3>

            <p class="overview-card-subtitle">
                Assigned project members
            </p>

            <div class="team-list">
                <div
                    class="team-member-row"
                    *ngFor="let member of project()?.members">

                    <div class="member-left">

                        <div
                            class="team-member"
                            [ngClass]="getAvatarColour(member)">
                            {{ getInitials(member) }}
                        </div>

                        <div class="member-details">
                            <span class="member-name">
                                {{ getMemberName(member) }}
                            </span>

                            <!-- <span class="member-role">
                                {{ member.role }}
                            </span> -->

                        </div>
                    </div>

                    <div class="member-right">
                        <span
                            class="member-role-chip"
                            [ngClass]="{
                                'developer-chip': member.role === ProjectRole.DEVELOPER,
                                'manager-chip': member.role === ProjectRole.MANAGER,
                                'admin-chip': member.role === ProjectRole.ADMIN,
                            }">
                            {{ member.role }}
                        </span>

                        <span class="member-hours">
                            {{ member.hoursLogged }}h
                        </span>
                    </div>
                    
                </div>
            </div>
        </article>

    </section>

    <!--
    TASKS TAB
    -->
    <section
        class="tasks-section"
        *ngIf="activeTab()=== 'tasks'">

        <!-- <app-project-tasks
            [projectId]="project().id">
        </app-project-tasks> -->
    </section>

</div>