<div class="stats-card">

    <div class="stats-top">

        <!-- this is so when a stats card is used and doesnt use icon that it doesnt affect that stats card
            previous code-->
        @if (icon){
            <div class="status-icon" [class]="iconClass">
                <i [class]="icon"></i>
            </div>
        }

        <div>

            <span class="stats-label">
                {{ label }}
            </span>

            <h2>
                {{ value }}
            </h2>

            <p>
                {{ description }}
            </p>

        </div>

    </div>


    <!-- <app-progress-bar
        [progress]="progress">
    </app-progress-bar> -->

</div>