<!--
Author: Cleopatra Kwenda
Date: 2026-07-17
Purpose: will display our desired wireframe of 
all the project that specific user is on.
Related Requirements: N/A
-->

<!--
HEADER
-->
<app-header [title] ="'Projects'">
    <div class="header-search">
        <label for="project-search" class="visually-hid">
            Search projects
        </label>
        
        <input
            id="project-search"
            class="project-search-input"
            type="search"
            placeholder="Search projects..."
            [value]="searchTerm"
            (input)="searchProjects($any($event.target).value)"
        >
        <!-- <select class="status-dropdown">

            <option>All Status</option>
            <option>Active</option>
            <option>On Hold</option>
            <option>Completed</option>
            <option>Archived</option>

        </select> -->

    </div>
</app-header>

<div class="projects-page-container">
    <!--
    PAGE HEADING
    -->
    <!-- <section class="projects-heading">
        <h1 class="page-title">
            Projects
        </h1>

        <p class="page-description">
            Manage and monitor all projects assigned to you.
        </p>
    </section> -->

    <!--
    STATS CARDS
    -->
    <section class="projects-statistics-grid">
        <app-stats-card
            label="Projects"
            [value]="totalProjects.toString()"
            description="Total assigned projects"
            [progress]="100"
            icon="fa-regular fa-folder-open"
            iconClass="blue">
        </app-stats-card>

        <app-stats-card
            label="Active"
            [value]="activeProjects.toString()"
            description="Currently active"
            [progress]="75"
            icon="fa-solid fa-check"
            iconClass="green">
        </app-stats-card>

        <app-stats-card
            label="Completed"
            [value]="completedProjects.toString()"
            description="Completed projects"
            [progress]="100"
            icon="fa-solid fa-flag-checkered"
            iconClass="orange">
        </app-stats-card>

        <app-stats-card
            label="Total Hours"
            [value]="totalHours +'h'"
            description="Across all projects"
            [progress]="100"
            icon="fa-regular fa-clock"
            iconClass="purple">
        </app-stats-card>
    </section>

    <!--
    FILTER BUTTONS SECTION
    -->
    <section class="project-filter-row">
        @for (filter of filters; track filter){
            <button 
                class="project-filter-button"
                [class.selected-filter]="selectedFilter===filter"
                (click)="filterProjects(filter)">
                {{filter}}
            </button>
        }
    </section>

    <div class="project-tags-filter">
        <span class="tags-title">
            Tags:
        </span>

        <span class="project-tag">api</span>
        <span class="project-tag">design</span>
        <span class="project-tag">internal</span>
        <span class="project-tag">mobile</span>
        <span class="project-tag">angular</span>
        
    </div>

    <!--
    PROJECTS :)
    -->
    <section class="projects-grid">
        @for (project of filteredProjects; track project.id){
            <article class="project-card">
                <div class="project-card-header">
                    <div>
                        <h2 class="project-name">
                            {{project.name}}
                        </h2>

                        <p class="project-client">
                            {{project.client}}
                        </p>
                    </div>

                    <!-- <app-status-chip
                        [status]="$any(project.status)">
                    </app-status-chip> -->

                    <span class="project-status-badge">
                        {{project.status}}
                    </span>
                </div>

                <!--
                DESCRIPTIONS
                -->
                <p class="project-description">
                    {{project.description}}
                </p>

                <!--
                TAGS
                -->
                <div class="project-tags">
                    @for (tag of project.tags; track tag){
                        <span class="project-tag">
                            {{tag}}
                        </span>
                    }
                </div>

                <!--
                PROGRESS OF PROJECTS??
                -->
                <app-progress-bar
                    [progress]="(project.hoursLogged / project.totalHours)*100">
                </app-progress-bar>

                <!--
                FOOTER OF CARD
                -->
                <div class="project-card-footer">
                    <span>
                        {{project.hoursLogged}} / {{project.totalHours}} hrs
                    </span>

                    <span>
                        {{project.role}}
                    </span>
                </div>

                <!--
                TEAM MEMEBERS
                -->
                <div class="project-team">
                    <!-- <strong>
                        Team
                    </strong> -->
                    <span class="team-count">
                        {{project.teamMembers.length}}
                        members
                    </span>

                    <div class="team-members">
                        @for (member of project.teamMembers.slice(0,4); track member){
                            <span class="team-member">
                                {{member}}
                            </span>
                        }

                        @if(project.teamMembers.length >4){
                            <span class="team-member-more">
                                +{{project.teamMembers.length -4}}
                            </span>
                        }
                    </div>
                </div>
            </article>
        }
    </section>
</div>
